
#accommodationSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.fa-star {
    color: #F2F2F2;
}

.blue {
    color: #0065FC
}

/* Article */

#accommodationSection article {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    width: 877px;
    background-color:#F2F2F2;
}

#accommodationSection article h1 {
    margin: 28px 0px 0px 28px;
}

.roomsArticle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.roomsArticle a {
    background-color: white;
    width: 245px;
    height: 199px;
    border-radius: 20px;
    box-shadow: 0px 7px 20px 0px #0001;
    margin: 20px 0px;
    text-decoration: none;
    color: black;
}

.roomsArticle img {
    width: 236px;
    height: 114px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    padding: 4px;
}

.descriptionArticle h2, .descriptionAside h2 {
    font-size: 16px;
    margin: 0px;
}

.descriptionArticle {
    padding: 0px 17px 6px;
}

.descriptionArticle p {
    margin: 5px 0px;
}

.displayMore {
    padding: 10px 0px 20px 35px;
}

.displayMore a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/* Aside */

#accommodationSection aside {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    background-color:#F2F2F2;
    width: 418px;
}

#accommodationSection aside h1 {
    display: inline-block;
    margin: 28px 121px 0px 34px;
}


.roomsAside {
    display: flex;
    flex-direction: column;
}

.roomsAside a {
    display: flex;
    width: 342px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 7px 20px 0px #0001;
    padding: 5px;
    margin: 20px 34px;
    text-decoration: none;
    color: black;
}

.fa-chart-line {
    font-size: 21px;
}

.roomsAside img {
    width: 120px;
    height: 127px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.descriptionAside {
    padding: 0px 20px;
    width: 140px;
}

.descriptionAside p {
    margin: 5px 0px;
}

.descriptionAside {
    position: relative;
}

.starsAside {
    position: absolute;
    bottom: 5px;
}

@media screen and (max-width: 1400px){
    
    #accommodationSection article h1, #accommodationSection aside h1 {
        margin: 28px 0px 0px 50px;
    }

    #accommodationSection {
        flex-direction: column-reverse;
        margin: 0px;
    }

    #accommodationSection aside, #accommodationSection article {
        width: 92.5%;
        margin: auto;
        position: relative;
    }

    #accommodationSection aside {
        margin-bottom: 20px;
    }

    .roomsAside {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0px 50px;
        column-gap: 30px;
    }

    .roomsAside a {
        margin: 20px 0px 36px 0px;
        flex-direction: column;
        height: 218px;
        width: auto;
    }

    .roomsAside img {
        width: auto;
        border-radius: 20px 20px 0px 0px;
    }

    .starsAside {
        top: 72px;
    }

    .fa-chart-line {
        position: absolute;
        right: 50px;
        top: 30px;
    }

    .descriptionAside {
        padding: 5px 17px;
        width: auto;
    }

    .roomsArticle {
        display: grid;
        margin: 0px 50px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        padding: 0px;
    }

    .roomsArticle a {
        width: auto;
        margin: 20px 0px;
        height: 218px;
    }

    .roomsArticle img {
        width: 97.5%;
    }

    .descriptionArticle {
        position: relative;
    }

    .starsArticle {
        position: absolute;
        top: 68px;
    }

    .displayMore {
        margin: 0px 15px;
    }
}

@media screen and (max-width: 992px) {

    #accommodationSection aside {
        width: 100%;
        border-radius: 0px;
    }

    #accommodationSection article {
        background-color: white;
        width: 100%;
        border: none;
    }

    .roomsArticle {
        grid-template-columns: repeat(2, 1fr);
    }

    .roomsArticle a {
        height: 199px;
    }

    .roomsArticle img {
        width: -webkit-fill-available;
    }

    .starsArticle {
        top: initial;
    }
}

@media screen and (max-width: 768px){
    
    .roomsAside {
        display: block;
    }

    .roomsAside a {
        flex-direction: initial;
        height: 144px;
    }

    .roomsAside img {
        width: 200px;
        border-radius: 20px 0px 0px 20px;
        height: auto;
    }

    .starsAside {
        top: initial;
    }

    .descriptionAside {
        padding: 5px 20px;
    }

    
}

@media screen and (max-width: 576px){

    #accommodationSection aside h1 {
        margin: 43px 0px 26px 50px;
    }

    .roomsAside {
        margin: 0px 50px 36px 50px;
    }

    .roomsAside a {
        margin: 10px 0px 10px 0px;
    }

    .roomsAside img {
        width: 127px;
    }

    #accommodationSection article h1 {
        margin: 41px 0px 10px 50px;
    }

    .roomsArticle {
        display: flex;
        flex-direction: column;
    }

    .roomsArticle a {
        margin: 10px 0px 0px 0px;
    }

    .displayMore {
        padding: 35px 0px 20px 35px;
    }

}