footer {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer h2 {
  font-size: 17px;
  margin-bottom: 27px;
  margin-block-start: 0px;
}

footer ul {
  padding-inline-start: 0px;
}

footer ul li {
  font-size: 15px;
  list-style-type: none;
  padding: 5px 0px;
}

footer a {
  text-decoration: none;
  color: black;
}

.about {
  padding-top: 50px;
  padding-left: 50px;
}

.accommodation {
  padding-top: 50px;
  padding-left: 30px;
}

.assistance {
  padding-top: 50px;
}

@media screen and (max-width: 992px) {
  .about {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .assistance {
    padding-left: 20px;
  }
}

@media screen and (max-width: 576px) {
  footer {
    grid-template-columns: none;
  }

  .accommodation,
  .assistance {
    padding-left: 20px;
  }
}
