
footer {
    background-color: #F2F2F2;
    display: flex;
}

.a_propos {
    padding: 30px;
    margin-left: 20px;;
}

.accommodation, .assistance {
    padding: 30px;
    margin-left: 200px;
}

footer h2 {
    font-size: 17px;
}

footer ul {
    padding-inline-start: 0px;
}

footer ul li {
    font-size: 15px;
    list-style-type: none;
    padding: 5px 0px;
}

footer a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1200px){

    footer {
        justify-content: space-around;
    }
    .a_propos, .accommodation, .assistance {
        margin-left: 0px;
    }
}