header {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
}

header img {
    width: 110px;
    height: 51px;
    margin-top: 30px
}

header nav {
    display: flex;
}

header a {
    padding: 50px 20px;
    text-decoration: none;
    color: black; 
    margin: 0px 10px 0px 10px;
}

header a:last-child {
    font-weight: bold;
    color: #0065FC;
}

header a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

@media screen and (max-width: 768px){

    header nav {
        flex-wrap: wrap-reverse;
        flex-direction:row-reverse;
    }

    header nav a:nth-of-type(2) {
        order: -1;
    }

    header a:hover {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }

    header a:last-child:hover {
        color: #0065FC;
        border-top: 2px solid #0065FC;
        border-bottom: none;
    }

}