@font-face {
    font-family: "Raleway";
    src: url("Raleway/Raleway-VariableFont_wght.ttf");
   }

body {
    font-family: "Raleway";
}

header, section, footer {
    margin: 30px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 110px;
}

header li {
    display:inline-block;
    list-style-type: none;
    padding: 0px 30px;
}

header li:last-child {
    font-weight: bold;
    color: #0065FC;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #0065FC;
}

/* Section 1 */

form {
    display: flex;
}

form i {
    border: 1px solid #F2F2F2; 
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
}

form input {
    padding: 10px;
    border: 1px solid #F2F2F2;
    font-weight: bold;
}

form button {
    border-radius: 0px 10px 10px 0px;
    color: white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    font-size: 15px;
    font-weight: bold;
}

#filters {
    display: flex;
    margin-top: 20px;
}

#filters p {
    font-weight: bold;
}

#filters ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 30px;
}

#filters ul li a {
    color: black;
    text-decoration: none;
    border: 1px solid #F2F2F2;
    padding: 10px 10px 10px 30px;
    border-radius: 0px 20px 20px 0px;
    position:relative;
    font-weight: bold;
}

#filters ul li i {
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 12px;
    border-radius: 20px;
    position: absolute;
    left: -17px;
    top: 0px;
    width: 16px;
}

#filters ul li a:hover {
    background-color: #DEEBFF;
    color: #0065FC;
}

#avalaible i {
    display: inline-block;
    font-size: 13px;
    border: 1px solid #F2F2F2;
    border-radius: 42px;
    padding: 3px 7px;
    color:#0065FC 
}

#avalaible p {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

/* Section 2 */

#accomodationSection {
    display: flex;
    justify-content: space-between;
}

#accomodationSection h1 {
    margin: 28px 0px 0px 28px;
}

.fa-star {
    color: #F2F2F2;
}

.blue {
    color: #0065FC
}

/* Article */

#accomodationSection article {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    width: 65%;
    background-color:#F2F2F2;
}

#roomsArticle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#roomsArticle a {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 1px grey;
    margin: 20px 20px;
    display: block;
    text-decoration: none;
    color: black;
}

#roomsArticle img {
    width: 240px;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
}

#roomsArticle h2, #roomsAside h2 {
    font-size: 16px;
    margin: 0px;
}

#roomsArticle p {
    margin: 5px 0px;
}

article p {
    margin: 0px 28px 18px;
}

/* Aside */

#accomodationSection aside {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    background-color:#F2F2F2;
    margin-right: 20px;
    width: 30%;
}

#accomodationSection aside h1 {
    display: inline-block;
    margin-right: 172px;
}

#roomsAside a {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 1px grey;
    padding: 5px;
    margin: 20px 20px;
    text-decoration: none;
    color: black;
}

#roomsAside img {
    width: 120px;
    height: 127px;
    border-radius: 20px 0px 0px 20px;
}

.descriptionAside {
    margin: 0px 15px;
}

/* Section 3 */













