@font-face {
    font-family: "Raleway";
    src: url("Raleway/Raleway-VariableFont_wght.ttf");
   }

body {
    font-family: "Raleway";
    margin: 0 auto;
    width: 100%;
}

header, section {
    margin: 30px;
}

h1 {
    font-size: 19px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 110px;
}

header li {
    display:inline-block;
    list-style-type: none;
    padding: 0px 30px;
}

header li:last-child {
    font-weight: bold;
    color: #0065FC;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #0065FC;
}

/* Section 1 */

form {
    display: flex;
}

form i {
    border: 1px solid #F2F2F2; 
    padding: 11px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
}

form input {
    padding: 10px;
    border: 1px solid #F2F2F2;
    font-weight: bold;
}

form button {
    border-radius: 0px 10px 10px 0px;
    color: white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    font-size: 15px;
    font-weight: bold;
    width: 110px;
}

.filters {
    display: flex;
    margin-top: 20px;
}

.filters p {
    font-weight: bold;
}

.filters ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0px 30px;
}

.filters ul li a {
    color: black;
    text-decoration: none;
    border: 1px solid #F2F2F2;
    padding: 10px 10px 10px 30px;
    border-radius: 0px 20px 20px 0px;
    position:relative;
    font-weight: bold;
}

.filters ul li i {
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 12px;
    border-radius: 20px;
    position: absolute;
    left: -17px;
    top: 0px;
    width: 16px;
}

.filters ul li a:hover {
    background-color: #DEEBFF;
    color: #0065FC;
}

.avalaible i {
    display: inline-block;
    font-size: 13px;
    border: 1px solid #F2F2F2;
    border-radius: 42px;
    padding: 3px 7px;
    color:#0065FC 
}

.avalaible p {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

/* Section 2 */

#accomodationSection {
    display: flex;
    justify-content: space-between;
}

#accomodationSection h1 {
    margin: 28px 0px 0px 28px;
}

.fa-star {
    color: #F2F2F2;
}

.blue {
    color: #0065FC
}

/* Article */

#accomodationSection article {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    width: 65%;
    background-color:#F2F2F2;
}

.roomsArticle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.roomsArticle a {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 1px grey;
    margin: 20px 20px;
    display: block;
    text-decoration: none;
    color: black;
}

.roomsArticle img {
    width: 240px;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.descriptionArticle h2, .descriptionAside h2 {
    font-size: 16px;
    margin: 0px;
}

.descriptionArticle {
    padding: 0px 8px;
}

.descriptionArticle p {
    margin: 5px 0px;
}

.displayMore {
    padding: 20px 0px 20px 35px;
}

.displayMore a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/* Aside */

#accomodationSection aside {
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    background-color:#F2F2F2;
    margin-right: 20px;
    width: 30%;
}

#accomodationSection aside h1 {
    display: inline-block;
    margin-right: 172px;
}

.roomsAside a {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 1px grey;
    padding: 5px;
    margin: 20px 20px;
    text-decoration: none;
    color: black;
}

.roomsAside {
    display: flex;
    flex-direction: column;
}

.roomsAside img {
    width: 120px;
    height: 127px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.descriptionAside {
    margin: 0px 15px;
    padding: 5px;
}

.descriptionAside p {
    margin: 5px 0px;
}

.descriptionAside {
    position: relative;
}

.starsAside {
    position: absolute;
    bottom: 5px;
}

/* Section 3 */

.activities {
    display: flex;
    justify-content: space-between;
    margin-left: -16px;
}

.activities img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 290px;
}

.col_1 a, .col_2 a, .col_3 a, .col_4 a {
    text-decoration: none;
    color: black;
}

.activities h2 {
    font-size: 14px;
    margin-left: 20px;
}

.vieux_port, .pomegues, .frioul, .calanques, .dame_garde, .longchamp {
    border-radius: 20px;
    box-shadow: 0px 0px 7px 1px grey;
    margin: 20px 20px;
}

.vieux_port, .calanques {
    height: 487px;
}

.vieux_port img, .calanques img {
    height: 436px;
}

.pomegues {
    height: 231px;
}

.pomegues img {
    height: 180px;
}

.frioul {
    height: 205px;
    margin-top: 51px;
}

.frioul img {
    height: 154px;
}

.dame_garde {
    height: 181px;
}

.dame_garde img {
    height: 130px;
    object-position: top;
}

.longchamp {
    margin-top: 51px;
    height: 255px;
}

.longchamp img {
    height: 204px;
}

footer {
    background-color: #F2F2F2;
    display: flex;
}

.a_propos {
    padding: 30px;
    margin-left: 20px;;
}

.accommodation, .assistance {
    padding: 30px;
    margin-left: 200px;
}

footer h2 {
    font-size: 17px;
}

footer p {
    font-size: 15px;
}










